<div class="container p-4">
    <div class="container text-center my-auto">
        <h1 class="mb-5">
            <em style="color:#FFFFFF">Tus Parametros Cardíacos {{name}} en el partido {{Descrip}}</em>
        </h1>
    </div>
<table class="table table-striped " style="background-color:#FFFFFF">
  <thead class="thead-dark" style="background-color:#292b2c; color:#FFFFFF" >
    <tr>
      <th scope="col">Pulsaciones por Minuto</th>
      <th scope="col">Oxigenación</th>
      <th scope="col">Presión Diastólica</th>
      <th scope="col">Presión Sistólica</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td>{{PPM}}</td>
            <td>{{Oxi}}</td>
            <td>{{PD}}</td>
            <td>{{PS}}</td>
        </tr>
  </tbody>
</table>
</div>